nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #353a3e;
  width: 100%;
  position: fixed;
  z-index: 1000;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
nav img, nav button {
  margin: 0px 20px;
}
nav .nav-center a {
  text-decoration: none;
  color: rgba(249, 183, 69, 0.6784313725);
  margin: 0px 20px;
}
nav .nav-center a:hover {
  border-bottom: 5px solid white;
}
nav .nav-center .active {
  color: #F9B745;
}
nav .nav-right a {
  text-decoration: none;
  color: rgba(249, 183, 69, 0.6784313725);
  margin: 0px 20px;
}
nav .nav-right a:hover {
  border-bottom: 5px solid white;
}
@media (max-width: 777px) {
  nav {
    font-size: small;
  }
  nav img {
    width: 100px;
  }
  nav .nav-center a {
    margin: 0px 5px;
  }
  nav .nav-right a {
    margin: 0px 0px;
  }
  nav .nav-right button {
    margin-left: 5px;
    padding: 3px;
    font-size: small;
  }
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #F9B745;
  margin: 0px 5px;
  font-size: medium;
}
button a {
  text-decoration: none;
  color: black !important;
}
button:hover {
  background-color: #F9B745;
  color: white;
}
button:hover a {
  color: white !important;
  border: none !important;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 0;
  color: white;
  padding: 15px 0px;
}
footer .footer-top {
  display: flex;
}
footer .footer-top .footer-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 2;
  border-right: 1px solid rgba(182, 182, 182, 0.753);
}
footer .footer-top .footer-right {
  display: flex;
  justify-content: space-around;
  flex: 4;
}
footer .footer-top .footer-right .footer-text {
  text-align: center;
}
footer .footer-top .footer-right .footer-text h2 {
  color: #f9b745;
}
@media (max-width: 777px) {
  footer .footer-top {
    flex-direction: column;
  }
}

.footer-bottom {
  text-align: center;
  margin-bottom: -10px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #353a3e;
  color: white;
  font-family: sans-serif;
}