@import 'global/mixin';
@import 'global/button';
// @import 'global/responsive';

body {
    @include body;
    background-color: #353a3e;
    form {
        background-color: white;
        width: 50%;
        padding: 50px;
        border-radius: 30px;
        h1 {
            font-family: sans-serif;
            // font-size: 40px;
            // @include responsiveSize (small){
            //     font-family: 'Times New Roman', Times, serif;
            // }
        }
        .form-main {
            @include form;
            display: flex;
            flex-direction: column;
            label{
                font-size: 18px;
            }
            input{
                @include input;
            }
        }
        .form-check{
            display: flex;
            justify-content: space-between;
            .forget{
                a{
                    text-decoration: none;
                    color: blue;
                }
            }
        }
        .submit{
            display: flex;
            flex-direction: column;
            align-items: center;
            a{
                text-decoration: none;
                color: blue;
                margin-top: 10px;
            }
        }
    }
}
.pncstudent {
    color: white;
}
