@import 'global/mixin';
@import 'global/variable';
@import'global/card';
@import'global/button';
@import'global/responsive';


body {
    padding: 0px;
    margin: 0px;
    font-family: $font;
    background-color: $background;
}

.main {
    img {
        @include image;
        right: 0;
    }

    .text {
        @include text;
        // background: none;
        color: #353a3e;
       h1{
        font-size: 35px;
       }
    }


}

.research {
    display: flex;
    align-items: flex-end;
    margin: 15px 35px;
    width: 100%;
    input {
        width: 40%;
        margin-top: 20px;
        padding: 8px;
        border-radius: 10px;
        border: 2px solid black;
        border: 2px solid white;
        outline-color: #f9b745;
    }

    button {
        width: 7%;
        padding: 7px;
        // margin-right: 20px;
        background: $title;
        color: white;
        &:hover{
            background-color: $background;
        }
        
    }
    @include responsiveSize(mediem){
        input{
            padding: 6px;
        }
        button{
            width: 10%;
        }
    }
    @include responsiveSize(small){
        button{
            width: 20% !important; 
        }
    }
}

.suggestion {
    display: flex;
    justify-content: space-evenly;
    margin: 20px -10px;
    width: 100%;
    button{
        padding: 2px 10px;
        background-color: $background;
        color: white;
        &:hover{
            background-color: #f9b745;
        }

    }
}

.list-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

    .card {
        @include card;
        width: 16% !important;
        margin: 15px;
        a{
            @extend button;
            color:$background;
            text-decoration: none;
            text-align: center;
            
            
        }
    }
}
.Next-page {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-size: large;
    span{
        color: white;
    }
    a {
        text-decoration: none;
        color: $textnot;
        margin: 0px 10px;
        color: #f9b745ad;
        padding: 8px 12px;
        border-radius: 10px;
        &:hover {
            // border-bottom: 5px solid white;
            background-color: rgba(255, 255, 255, 0.274);
        }
    }
    .active{
        color: #f9b745;
    }
}
.container {
    @include responsiveSize(mediem){
        button {
            padding: 5px;
        }

        font-size: smaller;

        .main {
            img {
                height: 500px;
            }

            .text {
                width: 70%;
                top: 25%;

                h1 {
                    font-size: 30px;
                }

                p {
                    font-size: small;
                    margin: -10px 0px 10px 0px;
                }

                button {
                    padding: 7px;
                    margin: -5px;
                }
            }
        }
        .search-bar{
            .type{
                input{
                    padding:5px !important;
                    width: 200px !important;
                }
            }
        }
        .suggestion {
            flex-shrink: 2;
            margin: 0px;
            button{
                &:nth-child(odd){
                    display: none;
                }
            }
        }
        .list-card {
            flex-wrap: wrap;

            .card {
                width: 215px !important;
                margin: 10px;
    
            }

        }

      
    }
    @include responsiveSize(small) {
        button {
            padding: 5px;
        }

        font-size: smaller;

        .mian {
            .text {
                width: 70%;
                top: 18%;

                h1 {
                    font-size: 20px;
                }

                p {
                    font-size: small;
                    margin: -10px 0px 10px 0px;
                }

                button {
                    padding: 7px;
                    margin: -5px;
                }
            }
        }

        .list-card {
            flex-wrap: wrap;

            .card {
                width: 170px !important;
                margin-top: 30px;
            }

        }

        .mission {
            flex-direction: column;

            &-left {
                text-align: center;
            }

            &-right {

                p,
                .bottom {
                    width: 90%;
                }
            }
        }
    }
   
}