@import '_variable.scss';
button{
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #F9B745;
    margin: 0px 5px;
    font-size: medium;
    a{
        text-decoration: none;
        color: black  !important;

    }
    &:hover{
        background-color: #F9B745;
        color: white;

        a{
            color: white !important;
            border: none !important;
        }
    }
}